.header {
    padding: 5px;
    text-align: center;
    background: #615d73;
    color: white;
    font-size: x-large;
  }
  .footer {
    padding: 5px;
    text-align: center;
    background: #615d73;
    color: white;
    font-size: x-large;
  }